@{
    ViewData["Title"] = "Информация об аккаунте";
    Layout = "_Layout";
}

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Информация об аккаунте
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Главная
                    </a>
                </li>
                <li>
                    Информация об аккаунте
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ========= Profile Section Start -->
<section class="user-setting-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5">
                @await Html.PartialAsync("_AccountSidebar")
            </div>
            <div class="col-xl-8 col-md-7 ">
                <div class="page-title">
                    Информация об аккаунте
                </div>
                <div class="input-info-box mt-30">
                    <div class="header">
                        Основная информация
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Статус аккаунта</label>
                                    <div style="color: #22c55e; font-weight: 600;">Хорошая репутация</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Текущий email</label>
                                    <div style="color: #444; font-weight: 500;">@ViewBag.Email</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Текущий телефон</label>
                                    <div style="color: #444; font-weight: 500;">+7 (999) 123-45-67</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-info-box mt-30">
                    <div class="header">
                        Безопасность
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Резервный email</label>
                                    <input type="email" placeholder="Резервный email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Резервный телефон</label>
                                    <input type="text" placeholder="Резервный телефон">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Секретный вопрос 1</label>
                                    <select name="" id="">
                                        <option value="">Ваш любимый фильм?</option>
                                        <option value="">Имя домашнего животного?</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Ответ 1</label>
                                    <input type="text" placeholder="Ответ 1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons  mt-30">
                    <button type="submit" class="custom-button">Сохранить изменения</button>
                    <button class="custom-button2">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========= Profile Section End --> 