@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Setting
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Изменить пароль
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ========= Profile Section Start -->

<section class="user-setting-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5">
                @await Html.PartialAsync("_AccountSidebar")
            </div>
            <div class="col-xl-8 col-md-7 ">
                <div class="page-title">
                    Изменить пароль
                </div>

                <div class="input-info-box mt-30">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="my-input-box">
                                    <label for="">Введите ваш текущий пароль</label>
                                    <input type="password" placeholder="Введите старый пароль">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Новый пароль</label>
                                    <input type="password" placeholder="Введите новый пароль">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="">Подвердите новый пароль</label>
                                    <input type="password" placeholder="Ещё раз введите новый пароль">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <a href="#">
                                    Забыли свой пароль?
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons  mt-30">
                    <button type="submit" class="custom-button">Сохранить</button>
                    <button class="custom-button2">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========= Profile Section Start -->
