@{
    ViewData["Title"] = "Профиль";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/profileinfo.css">
</head>

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Управление профилем
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Информация о профиле
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ========= Profile Section Start -->
<section class="user-setting-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5">
                @await Html.PartialAsync("_AccountSidebar")
            </div>
            <div class="col-xl-8 col-md-7 ">
                <div class="page-title">
                    Информация профиля
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-about-box">
                            <div class="p-inner-content">
                                <div class="image-preview" style="position:relative; display:flex; align-items:center; justify-content:center;">
                                    <button type="button" id="photo-prev" class="custom-button" style="position:absolute; left:-40px; top:50%; transform:translateY(-50%); display:none;">&#8592;</button>
                                    <img src="~/images/avatars/standart.jpg" alt="profile" id="imagePreview" style="max-width:265px; max-height:350px; width:265px; height:350px; object-fit:cover; border-radius:8px; border:1px solid #ccc;">
                                    <button type="button" id="photo-next" class="custom-button" style="position:absolute; right:-40px; top:50%; transform:translateY(-50%); display:none;">&#8594;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-photo-upload">
                            <h5>Фото профиля</h5>
                            <div class="upload-area">
                                <div class="upload-actions">
                                    <input type="file" id="profileImage" class="d-none">
                                    <label for="profileImage" class="custom-button">Изменить</label>
                                    <button type="button" class="custom-button remove-button">Удалить</button>
                                </div>
                                <p class="upload-info">Размер фото должен быть: 265x350 пикселей.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="input-info-box mt-30">
                    <div class="header">
                        О вашем профиле
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="name">Имя профиля</label>
                                    <input type="text" id="name" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="birthdate">Дата рождения</label>
                                    <input type="date" id="birthdate" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="my-input-box">
                                    <textarea id="description" class="form-control" placeholder="Напишите небольшое описание к вашему профилю..." disabled></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="height">Рост</label>
                                    <input type="number" id="height" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="location">Местоположение</label>
                                    <input type="text" id="location" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="income-select">Уровень заработка</label>
                                    <select class="form-control" id="income-select">
                                        <option value="">Выберите</option>
                                        <option value="Отсутствует">Отсутствует</option>
                                        <option value="Низкий">Низкий</option>
                                        <option value="Ниже среднего">Ниже среднего</option>
                                        <option value="Средний">Средний</option>
                                        <option value="Выше среднего">Выше среднего</option>
                                        <option value="Высокий">Высокий</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="housing-select">Жильё</label>
                                    <select class="form-control" id="housing-select">
                                        <option value="">Выберите</option>
                                        <option value="Есть своё">Есть своё</option>
                                        <option value="Арендую">Арендую</option>
                                        <option value="Живу с родителями">Живу с родителями</option>
                                        <option value="Отсутствует">Отсутствует</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="my-input-box">
                                    <label for="children">Наличие детей</label>
                                    <div id="children-radio">
                                        <div class="option d-flex">
                                            <div class="s-input mr-3">
                                                <input type="radio" name="children_radio" id="children_no" value="Нет">
                                                <label for="children_no">Нет</label>
                                            </div>
                                            <div class="s-input">
                                                <input type="radio" name="children_radio" id="children_yes" value="Есть">
                                                <label for="children_yes">Есть</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-info-box mt-30">
                    <div class="header">
                        Ваши интересы
                    </div>
                    <div class="content">
                        <div class="member-interests-block">
                            <div class="member-interests-list" id="interests-list-box"></div>
                        </div>
                        <button type="button" class="custom-button" id="choose-interests-btn" data-toggle="modal" data-target="#interestsModal">Выбрать интересы</button>
                    </div>
                </div>
                <div class="buttons mt-30">
                    <button type="button" id="edit-btn" class="custom-button">Изменить</button>
                    <button type="button" id="save-btn" class="custom-button" style="display:none;">Сохранить</button>
                    <button class="custom-button2">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========= Profile Section Start -->

<!-- Модальное окно для выбора интересов -->
<div class="modal fade" id="interestsModal" tabindex="-1" role="dialog" aria-labelledby="interestsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="interestsModalLabel">Выберите интересы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="filter-checkboxes small-checkboxes"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="saveInterestsBtn" data-dismiss="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<script src="~/js/profileinfo-api.js"></script>
