@{
    ViewData["Title"] = "Account Settings";
    Layout = "_Layout";
}

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Настройки
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Общее
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->


<!-- ========= Profile Section Start -->

<section class="user-setting-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5">
                @await Html.PartialAsync("_AccountSidebar")
            </div>
            <div class="col-lg-8">
                <div class="account-wrapper">
                    <div class="account-header">
                        <h3 class="title">Общие настройки</h3>
                        <p>Измените настройки вашего аккаунта</p>
                    </div>
                    <div class="account-content">
                        <div class="setting-categories">
                            <div class="setting-category">
                                <div class="setting-icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="setting-content">
                                    <h5 class="setting-title">Персональная информация</h5>
                                    <p>Обновить профиль или личную информацию</p>
                                    <a asp-controller="Account" asp-action="Profileinfo" class="custom-button">Изменить</a>
                                </div>
                            </div>
                            <div class="setting-category">
                                <div class="setting-icon">
                                    <i class="fas fa-key"></i>
                                </div>
                                <div class="setting-content">
                                    <h5 class="setting-title">Пароль</h5>
                                    <p>Изменить пароль к своей учётной записи</p>
                                    <a asp-controller="Account" asp-action="ChangePassword" class="custom-button">Изменить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========= Profile Section Start -->