@{
    ViewData["Title"] = "О нас";
    Layout = "_Layout";
}

<!-- ==========Banner-Section========== -->
<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-6">
                <div class="banner-content">
                    <h1 class="title">О нас</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">О нас</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========About-Us========== -->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <img src="~/images/about-us.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <div class="section-header">
                        <h2 class="title">
                            О TheMatch
                        </h2>
                        <p>В TheMatch мы понимаем, что вы ищете</p>
                    </div>
                    <div class="content">
                        <p>
                            TheMatch - это онлайн-платформа для знакомств. Наша умная система подбора партнеров соединяет людей на основе их интересов, образа жизни и личных предпочтений.
                        </p>
                        <p>
                            Наша миссия - объединять одиноких людей, которые серьезно настроены на поиск значимых отношений. Мы верим, что каждый заслуживает любви, и мы работаем над созданием безопасной, гостеприимной средой, где могут создваться новые ячейки общества.
                        </p>
                        <p>
                            Благодаря интуитивно понятному интерфейсу и функциям безопасности, мы делаем ваш путь к поиску любви максимально комфортным и приятным.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========About-Us========== -->

<!-- ==========The-Approach========== -->
<section class="approach-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <h2 class="title">
                        Наш подход
                    </h2>
                    <p>
                        Наш уникальный подход сочетает передовые технологии с человеческим пониманием
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="approach-item">
                    <div class="approach-thumb">
                        <img src="~/images/approach/approach1.png" alt="approach">
                    </div>
                    <div class="approach-content">
                        <h4 class="title">Умный подбор</h4>
                        <p>Наш алгоритм анализирует ваш профиль и предпочтения, чтобы предложить наиболее совместимые пары.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="approach-item">
                    <div class="approach-thumb">
                        <img src="~/images/approach/approach2.png" alt="approach">
                    </div>
                    <div class="approach-content">
                        <h4 class="title">Фокус на качестве</h4>
                        <p>Мы отдаем приоритет качеству связей, а не количеству, помогая вам найти значимые отношения.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="approach-item">
                    <div class="approach-thumb">
                        <img src="~/images/approach/approach3.png" alt="approach">
                    </div>
                    <div class="approach-content">
                        <h4 class="title">Безопасная среда</h4>
                        <p>Безопасность - наш приоритет. Мы проверяем профили и предоставляем инструменты для сообщения о неподобающем поведении.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="approach-item">
                    <div class="approach-thumb">
                        <img src="~/images/approach/approach4.png" alt="approach">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========The-Approach========== -->

<!-- ==========Work-Section========== -->
<section class="work-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <h2 class="title">
                        Как это работает
                    </h2>
                    <p>
                        Найти свою пару так же просто, как 1-2-3
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/work/work1.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Создайте свой профиль</h4>
                        <p>
                            Заполните свой профиль сведениями о себе, своих интересах и о том, что вы ищете.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/work/work2.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Найдите совпадения</h4>
                        <p>
                            Просматривайте профили или используйте нашу умную систему подбора, чтобы найти совместимых партнеров.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/work/work3.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Начните общение</h4>
                        <p>
                            Общайтесь с вашими совпадениями через нашу систему сообщений и сделайте первый шаг к значимым отношениям.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Work-Section========== --> 