@{
    ViewData["Title"] = "О нас";
    Layout = "_Layout";
}

<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                О нас
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Раздел о нас
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ==========Start-Flirting-Section========== -->
<section class="flirting-section about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="img">
                    <img src="~/images/about/about-page-left.html.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title">
                            Узнайте больше
                        </h6>
                        <h2 class="title">
                            О нас
                        </h2>
                        <p>
                            TheMatch - это онлайн-платформа для знакомств. Наша система подбора партнеров соединяет людей на основе их интересов, образа жизни и личных предпочтений.
                        </p>
                        <br>
                        <p class="mb-0">
                            Наша миссия - объединять одиноких людей, которые серьезно настроены на поиск значимых отношений. 
                            Мы верим, что каждый заслуживает любви, и мы работаем над созданием безопасной, гостеприимной средой, где могут создваться новые ячейки общества.
                            Благодаря интуитивно понятному интерфейсу и функциям безопасности, мы делаем ваш путь к поиску любви максимально комфортным и приятным.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Start-Flirting-Section========== -->

<!-- ========== w-c-u Section Starts ========== -->
<section class="w-c-u-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title">
                            Чем мы отличаемся
                        </h6>
                        <h2 class="title extra-padding">
                            Кто выбирает нас?
                        </h2>
                        <p class="text">
                            Существует множество сайтов знакомств, что затрудняет
                            выбрать тот, который может дать вам серьезного партнера.....
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-w-c-u-box">
                    <div class="icon">
                        <img src="~/images/e-c-u/icon1.png" alt="">
                    </div>
                    <h4 class="title">
                        Свидания
                    </h4>
                    <p>
                        Свидания - это когда два человека, которых тянет друг к другу, проводят время вместе.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-w-c-u-box">
                    <div class="icon">
                        <img src="~/images/e-c-u/icon2.png" alt="">
                    </div>
                    <h4 class="title">
                        Прекрасные советы
                    </h4>
                    <p>
                        Мы создали для вас специальный руководства, которые помогут вам встретить вашу половинку!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-w-c-u-box">
                    <div class="icon">
                        <img src="~/images/e-c-u/icon3.png" alt="">
                    </div>
                    <h4 class="title">
                        24/7 Поддержка
                    </h4>
                    <p>
                        Наши специалисты всегда готовы вам помочь.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-w-c-u-box">
                    <div class="icon">
                        <img src="~/images/e-c-u/icon4.png" alt="">
                    </div>
                    <h4 class="title">
                        Отношения
                    </h4>
                    <p>
                        Задачей нашего приложения прежде всего является помочь вам найти партнёра!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========  w-c-u Section Starts ========== -->

<!-- ==========Work-Section========== -->
<section class="work-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <h2 class="title">
                        Как это работает
                    </h2>
                    <p>
                        Найти свою пару так же просто, как 1-2-3
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/membership/icon2.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Создайте свой профиль</h4>
                        <p>
                            Заполните свой профиль сведениями о себе, своих интересах и о том, что вы ищете.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/membership/icon3.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Найдите совпадения</h4>
                        <p>
                            Просматривайте профили или используйте нашу умную систему подбора, чтобы найти совместимых партнеров.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/images/membership/icon4.png" alt="work">
                    </div>
                    <div class="work-content">
                        <h4 class="title">Начните общение</h4>
                        <p>
                            Общайтесь с вашими совпадениями через нашу систему сообщений и сделайте первый шаг к значимым отношениям.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Work-Section========== --> 