@{
    ViewData["Title"] = "Контакты";
    Layout = "_Layout";
}
<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Свяжитесь с нами
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Контакты
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ==========Contact-Section========== -->
<section class="contact-section">
    <img class="img-left" src="~/images/contact/img-left.png" alt="">
    <img class="img-right" src="~/images/contact/img-right.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-header">
                        <h6 class="sub-title">
                            Связаться с нами
                        </h6>
                        <h2 class="title">
                            В один клик
                        </h2>
                        <p class="text">
                            Мы всегда здесь и рады услышать вас. Напишите о чём хотите нам сообщить!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="contact-form-wrapper">
                    <div class="single-input">
                        <i class="far fa-user"></i>
                        <input type="text" placeholder="Имя">
                    </div>
                    <div class="single-input">
                        <i class="far fa-envelope"></i>
                        <input type="text" placeholder="Введите вашу почту">
                    </div>
                    <div class="single-input">
                        <i class="far fa-comments"></i>
                        <textarea placeholder="Напишите ваше сообщение"></textarea>
                    </div>
                    <a href="#" class="custom-button">Отправить</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Sectionn========== -->
