@{
    ViewData["Title"] = "404 - Page Not Found";
    Layout = "_Layout";
}

<!-- ==========404-Section========== -->
<div class="error-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="error-content">
                    <div class="error-thumb">
                        <img src="~/images/error/404.png" alt="404">
                    </div>
                    <h2 class="title">Page Not Found</h2>
                    <p>We're sorry, the page you were looking for isn't found here. The link you followed may either be broken or no longer exists.</p>
                    <a asp-controller="Home" asp-action="Index" class="custom-button">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========404-Section========== --> 