@{
    ViewData["Title"] = "404 - Page Not Found";
    Layout = "_Layout";
}

<!-- ==========404-Section========== -->
<div class="error-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="error-content">
                    <div class="error-thumb">
                        <img src="~/images/404.png" alt="404">
                    </div>
                    <h2 class="title">—траница не найдена</h2>
                    <p>Ќам жаль, но страница, которую вы искали, здесь отсутствует. ¬озможно, ссылка, по которой вы перешли, не работает или больше не существует.</p>
                    <a asp-controller="Home" asp-action="Index" class="custom-button">¬ернутьс€ назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========404-Section========== --> 