@{
    ViewData["Title"] = "503 - Service Unavailable";
    Layout = "_Layout";
}

<!-- ==========503-Section========== -->
<div class="error-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="error-content">
                    <div class="error-thumb">
                        <img src="~/images/error/503.png" alt="503">
                    </div>
                    <h2 class="title">Service Unavailable</h2>
                    <p>Sorry, we're currently under maintenance. We'll be back shortly. Please try again after some time.</p>
                    <a asp-controller="Home" asp-action="Index" class="custom-button">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========503-Section========== --> 