@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Layout";
}

<!-- ==========Banner-Section========== -->
<section class="banner-section style-two">
    <img class="img1 wow fadeInDown" src="~/images/banner/aimg3.png" alt="">
    <img class="img2 wow fadeInUp" src="~/images/banner/aimg4.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <h1 class="main-title wow fadeInLeft">
                    Найдите идеального 
                    партнера сегодня
                </h1>
                <div class="join-now-box wow fadeInUp">
                    <div class="single-option">
                        <p class="title">
                            Я :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <input type="radio" name="gender" id="male"><label for="male">Мужчина</label>
                            </div>
                            <div class="s-input">
                                <input type="radio" name="gender" id="female"><label for="female">Женщина</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-option">
                        <p class="title">
                            Ищу :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <input type="radio" name="gender-login" id="male-login"><label
                                    for="male-login">Мужчину</label>
                            </div>
                            <div class="s-input">
                                <input type="radio" name="gender-login" id="female-login"><label
                                    for="female-login">Женщину</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-option">
                        <p class="title">
                            Возраст :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3">
                                <input type="text" placeholder="От">
                            </div>
                            <div class="s-input">
                                <input type="text" placeholder="До">
                            </div>
                        </div>
                    </div>
                    <div class="single-option">
                        <p class="title">
                            Страна :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3 w-100">
                                <select class="select-bar">
                                    <option value="">Выберите страну</option>
                                    <option value="">Россия</option>
                                    <option value="">США</option>
                                    <option value="">Великобритания</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="single-option">
                        <p class="title">
                            Город :
                        </p>
                        <div class="option">
                            <div class="s-input mr-3 w-100">
                                <select class="select-bar">
                                    <option value="">Выберите город</option>
                                    <option value="">Москва</option>
                                    <option value="">Нью-Йорк</option>
                                    <option value="">Лондон</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="custom-button">Найти партнера</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Features-Section========== -->
<section class="features-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header">
                    <h2 class="title">
                        Простые шаги для поиска идеальной пары
                    </h2>
                    <p>
                        С нашей платформой легко найти идеальную пару. Следуйте этим простым шагам и начните свой путь к поиску любви.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="~/images/feature/ alt="feature">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Создайте профиль</h4>
                        <p>
                            Заполните свой профиль фотографиями и личными данными, чтобы помочь другим узнать вас.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="~/images/feature/feature2.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Найдите совпадения</h4>
                        <p>
                            Просматривайте профили и находите людей, которые соответствуют вашим предпочтениям и интересам.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <img src="~/images/feature/feature3.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Начните общение</h4>
                        <p>
                            Свяжитесь с вашими совпадениями, начните разговоры и начните свой путь к поиску любви.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Features-Section========== --> 