@{
    ViewData["Title"] = "Navigation Test";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h1>Navigation Test Page</h1>
    <p>Click the links below to test navigation to different pages:</p>
    
    <h3>Account Pages</h3>
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Account" asp-action="Settings">Settings</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="AccountInfo">Account Info</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="PrivacySettings">Privacy Settings</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="VerifyAccount">Verify Account</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Notification">Notifications</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Badges">Badges</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="FriendRequest">Friend Requests</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Billing">Billing Info</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Plan">Membership Plan</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Purchase">Purchase History</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="CloseAccount">Close Account</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li class="list-group-item"><a asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>
    
    <h3>Other Areas</h3>
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="list-group-item"><a asp-controller="Profile" asp-action="Index">Profiles</a></li>
        <li class="list-group-item"><a asp-controller="Community" asp-action="Index">Community</a></li>
        <li class="list-group-item"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
    </ul>
</div> 