@{
    ViewData["Title"] = "Политика конфиденциальности";
    Layout = "_Layout";
}


<!-- ==========Breadcrumb-Section========== -->
<section class="breadcrumb-area profile-bc-area">
    <div class="container">
        <div class="content">
            <h2 class="title extra-padding">
                Приватность
            </h2>
            <ul class="breadcrumb-list extra-padding">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>
                    Политика конфиденциальности
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Breadcrumb-Section========== -->

<!-- ==========Privacy-Content========== -->
<section class="privacy-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="privacy-content">
                    <h3>Наша политика конфиденциальности</h3>
                    <p>
                        Эта страница используется для информирования пользователей о нашей политике в отношении сбора, использования и раскрытия личной информации, которую мы получаем от пользователей сайта.
                    </p>
                    <p>
                        Мы используем вашу личную информацию только для предоставления и улучшения нашего сервиса. Используя сайт, вы соглашаетесь на сбор и использование информации в соответствии с этой политикой.
                    </p>
                    
                    <h4>Сбор и использование информации</h4>
                    <p>
                        При использовании нашего сайта мы можем запросить у вас предоставить нам определенную личную информацию, которая может быть использована для связи с вами или для вашей идентификации. Личная информация может включать, но не ограничивается вашим именем, адресом электронной почты, номером телефона и другими данными.
                    </p>
                    
                    <h4>Безопасность</h4>
                    <p>
                        Безопасность вашей личной информации важна для нас, но помните, что никакой метод передачи через Интернет или метод электронного хранения не является на 100% безопасным. Хотя мы стремимся использовать коммерчески приемлемые средства для защиты вашей личной информации, мы не можем гарантировать ее абсолютную безопасность.
                    </p>
                    
                    <h4>Изменения в политике конфиденциальности</h4>
                    <p>
                        Эта Политика конфиденциальности действует и остается в силе, за исключением таких изменений в ее положениях, которые вступают в силу немедленно после публикации на этой странице.
                    </p>
                    <p>
                        Мы оставляем за собой право обновлять или изменять нашу Политику конфиденциальности в любое время, и вам следует периодически проверять эту Политику конфиденциальности. Продолжение использования Сервиса после того, как мы разместили изменения в Политике конфиденциальности на этой странице, будет означать ваше признание изменений и ваше согласие соблюдать и соблюдать измененную Политику конфиденциальности.
                    </p>
                    
                    <h4>Связь с нами</h4>
                    <p>
                        Если у вас есть какие-либо вопросы об этой Политике конфиденциальности, пожалуйста, свяжитесь с нами.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Privacy-Content========== -->
